.info{
 
}
.list{
    background-color: #F4F7FC;
}
.list-form{
    height: 500px;
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
}
.headling{
    background-color: #F4F7FC;
    border-radius:10px;
}
.headling p{
    margin: 0;
    padding: 5px;
}